/*html*/
html{
        font-size: 55%;
    }

/*csss*/
@media (max-width:450px){

    html{
        font-size: 50%;
    }
 }
/*stylee*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/*body*/
/*main*/
body {
  font: 400 14px Roboto, sans-serif;
  background: #f6f4fc;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/*mains*/
body {
  font: 400 14px Roboto, sans-serif;
  background: #f6f4fc;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/*stylee*/
body {
      position: relative;
      height: 100%;
    }
body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
/*header*/
/*csss*/
@media (max-width:768px){
    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }
}
/*navess*/

/*stylee*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:2rem 9%;
    z-index: 1000;
    background: #fff;
}

.header.active{
    padding:2rem 9%;
    box-shadow: var(--box-shadow);
}
/*#menu-btn class fas fa-bars*/
/*csss*/
@media (max-width:768px){
#menu-btn{
        display: block;
    }
#menu-btn.fa-times{
        transform:rotate(180deg);
    }
 }
/*stylee*/
#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

/*logo*/
/*stylee*/
.header .logo img{
        width: 220px;
        height:74px;
}
/*navess*/
.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bold;
    margin-top: -20px
}
.header .logo img{
        width: 220px;
        height:74px;
}

/*nav navbar*/
/*csss*/
@media (max-width:768px){

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }
}
/*navess*/
.navbar{
        margin-left:-109px}
.header .navbar a{
    margin:18px 2rem;
    font-size: 1.7rem;
    font-weight: 500;


}
.header .navbar a:hover{
    color: #f1af11;
}
/*stylee*/

.header .navbar a{
    margin:18px 2rem;
    font-size: 1.7rem;
    font-weight:600
    color:var(--black);
}

.header .navbar a:hover{
    color: #e69623;
}
/*login-btn btn*/
/*css*/
@media (max-width:768px){
     #login-btn .btn{
            display: none;
        }
     #login-btn i{
        display: block;
        }
}
/*stylee*/

#login-btn :hover{
    background:#130f40;
    color:white;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color:var(--light-color);
}

.btn{
    display: inline-block;
    margin-top: 1.2rem;
    padding:.8rem 3rem;
    background:#ffb563;
    color:var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

#login-btn .btn{
    margin-top: 0;
}
/*section footer */
/*service*/

section {
    padding: 8rem 9%;
    background-color: white;
}
/*csss*/

    .footer{
    background: #ffb563;
    padding-bottom: 8rem;
}
/*csss box-container*/
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding:1rem 0;
    color:var(--black);
}
/*csss box a*/
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    padding:1rem 0;
    color:#000;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--black);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--black);
}
